
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="login-pf">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow">

    <title>Сервис аутентификации</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/patternfly.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/patternfly-additions.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
</head>

<body class="">
    <div class="login-pf-page">
        <div id="kc-header" class="login-pf-page-header">
            <div id="kc-header-wrapper" class="">Сервис аутентификации</div>
        </div>
        <div class="card-pf login-pf-accounts">
            <header class="login-pf-header">
                <h1 id="kc-page-title">Вход</h1>
            </header>
            <div id="kc-content">
                <div id="kc-content-wrapper">

                    {% if timeout %}
                    <div class="alert-error alert pf-m-danger">
                        <span class="pficon pficon-error-circle-o"></span>
                        <span class="kc-feedback-text">Вы слишком долго бездействовали. Процесс аутентификации начнется с начала.</span>
                    </div>
                    {% endif %}

                    {% if wrong_password %}
                    <div class="alert-error alert pf-m-danger">
                        <span class="pficon pficon-error-circle-o"></span>
                        <span class="kc-feedback-text">Неверные логин или пароль.</span>
                    </div>
                    {% endif %}

                    <div id="kc-form" class="row">
                        <div id="kc-form-wrapper" class="col-xs-12 col-sm-6 login-pf-social-section">
                            <form id="kc-form-login"
                                  method="post"
                                  onsubmit="loginButton.disabled = true; if (actionSubmit(false)) {return true} else {loginButton.disabled = false; return false;}"
                                  action="/auth"
                            >
                                <div class="form-group">
                                    <label for="username" class="control-label">Имя пользователя</label>
                                    <input tabindex="1" id="username" class="form-control green"
                                               name="username" value="{{ username }}" type="text" autocomplete="off"
                                               autofocus/>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label">Пароль</label>
                                    <div class="input-group">
                                        <input tabindex="2" id="password" class="form-control green"
                                               name="password" type="password" autocomplete="off"/>
                                    </div>
                                </div>
                                <div class="form-group login-pf-settings">
                                    <div id="kc-form-options">
                                        <div class="checkbox">
                                            <label>
                                                <input tabindex="5" id="rememberMe" name="rememberMe" type="checkbox"> Запомнить меня
                                            </label>
                                        </div>
                                    </div>

                                    <div class=""></div>
                                </div>
                                <div id="kc-form-buttons" class="form-group">
                                    <input id="loginButton" tabindex="5" class="btn btn-primary btn-block form-control green" name="loginButton" id="kc-login"
                                           type="submit" value="Вход"/>
                                </div>
                             </form>
                        </div>
                        <div class="col-xs-12 col-sm-6 login-pf-social-section">
                            <center>
                                <h2>Добро пожаловать</h2>
                                <img width="200px" src="{{ url_for('static', filename='img/logo.png') }}" />
                            </center>
                        </div>
                    </div>
                    <div id="kc-info" class="login-pf-signup">
                        <div id="kc-info-wrapper" class=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">v{{ app_version }} | active profile: {{ profile }}</div>
</body>

<script>
    // Получаем ссылки на элементы формы
    const usernameInput = document.getElementById('username');
    const passwordInput = document.getElementById('password');
    const loginButton = document.getElementById('loginButton');

    // Функция для проверки заполненности полей
    function checkFields() {
        if (usernameInput.value.trim() === '' || passwordInput.value.trim() === '') {
            loginButton.disabled = true;
        } else {
            loginButton.disabled = false;
        }
    }

    // Добавляем обработчики событий на поля ввода
    usernameInput.addEventListener('input', checkFields);
    passwordInput.addEventListener('input', checkFields);

    // Вызываем функцию сразу после загрузки страницы, чтобы установить начальное состояние кнопки
    checkFields();

    // Добавляем обработчик события submit для формы, чтобы предотвратить отправку при пустых полях
    document.getElementById('kc-form-login').addEventListener('submit', function(event) {
        if (usernameInput.value.trim() === '' || passwordInput.value.trim() === '') {
            event.preventDefault(); // Отменяем отправку формы
        }
    });
</script>
</html>